.App {
  font-family: sans-serif;
  text-align: center;
}

.home-page {
  background-image: url("https://images.unsplash.com/photo-1483137140003-ae073b395549?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  height: 100vh;
}

.recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
}

.nav {
  /* background-color: tomato; */
  background-color: rgb(162, 185, 126);
  height: 5rem;
  width: 100vw;
  /* position: fixed; */
}
.nav-item {
  padding: 16px 10px;
}

.nav a {
  text-decoration: none;
  color: rgb(247, 237, 229);
  font-size: 22px;
  /* font-weight: bold; */
}

.dishes-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.instruction {
  border: 2px solid rgb(162, 185, 126);
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
  padding: 20px 30px;
}

.instruction-header {
  display: flex;
  margin-bottom: 10px;
}

.instruction-header img {
  width: 160px;
  border-radius: 10px;
  margin-right: 20px;
}

.blur {
  filter: blur(8px);
}
