.App {
  font-family: sans-serif;
  text-align: center;
}

.recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
}

.nav {
  background-color: tomato;
  padding-left: 6rem;
  height: 5rem;
}
.nav-item {
  padding: 16px 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  /* font-weight: bold; */
}

.dishes-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.instruction {
  border: 2px solid tomato;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
  padding: 20px 30px;
}

.instruction-header {
  display: flex;
  margin-bottom: 10px;
}

.instruction-header img {
  width: 160px;
  border-radius: 10px;
  margin-right: 20px;
}

.home-page {
  text-align: center;
  padding: 40px;
}

.home-page img {
  height: 60vh;
}
